<h2><u><%= @outing.name %></u></h2>
<p><u>Location</u>: <%= @outing.location %></p>
<p><u>Date</u>: <%= @outing.date %></p>
<p><u>Total Count of Contestants</u>: <%= @outing.contestant_count %></p><br>

<h3><u><%= "Contestants" %></u></h3>
<% @outing.contestants.each do |contestant| %>
  <%= "#{contestant.name}" %>
  <%= form_with url: "/outings/#{@outing.id}", method: :patch, local: true do |i| %>
    <%= i.hidden_field :contestant_id, value: contestant.id %>
    <%= i.submit "Remove" %>
  <% end %>
<% end %>
